:root{
	--primary: #007bff;
	--black: #363636;
	--pale-grey: #f3f7fb;
	--azul: #4265ed;
	--greyish-brown: #4a4a4a;
	--warm-grey: #9b9b9b;
	--neon-blue: #00dfff;
	--light-periwinkle: #ebeffd;
	--azul-two: #4063ea;
	--pale-sky-blue: #c7e1ff;
	--ice-blue: #fbffff;
}