<div class="container mt-3">
  <div class="card" style="width:100%">
    <img class="card-img-top" src="assets/images/{{artist.shortname}}.jpg" alt="{{artist.name}} photo">
    <div class="card-body">
      <h2 class="card-title">{{artist.name}}</h2>
      <h5 class="mt-0">{{artist.reknown}}</h5>
      <p class="card-text">{{artist.bio}}</p>
      <div class="social-items">
        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://twitch.com"><i class="fa fa-twitch"></i></a>
        <a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
</div>
<!--artistdetails-->
