/* You can add global styles to this file, and also import other style files */
/* html {
	font-family: 'Nunito Sans', sans-serif;
}

a {
	text-decoration: none;
	transition: ease-in 0.2s;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	transition: ease-in 0.2s;
} */
